@media screen and (max-width:959px) {
  [class*="col-"]{padding-top:15px;padding-bottom:15px;}
  .qtext{padding:50px 5% 0 5%;}
  .qname{padding-bottom:50px;}
  .work-list{margin-left:0px;width:100% !important;}
  #client-list{padding:0 100px;margin-top:30px !important;}
  #client-list li{margin-bottom:30px;margin-left:20px !important;margin-right:20px !important;}
  .comment-form-area textarea{width:100% !important;}
}

@media only screen and (min-width: 767px) and (max-width: 959px) {
  .work-list ul li{width:50%;}
  .contact-form-area textarea{width:470px !important;}
}

@media only screen and (max-width: 959px) {
  .contact-form-area input{width:350px !important;}
  .contact-form-area textarea{width:360px !important;}
  .inptname{background:url(../img/cname-icon.png) no-repeat 325px center;}
  .inptcom{background:url(../img/ccom-icon.png) no-repeat 325px center;}
  .inptmail{background:url(../img/cmail-icon.png) no-repeat 325px center;}
  .services-list{width:90%;margin:0 auto;margin-top:80px;margin-bottom:-80px;}
  .services-list li{margin:0px 20px 60px 20px;}
  .service-hover-box ul li{margin:0;}
  .service-hover-box{margin-left:-115px;}
}

@media only screen and (max-width: 767px) {
  #cboxPrevious{display:none !important; }
  #cboxNext{display:none !important;}
  
  #menu{position:relative;width:100%;}
  #menu-alt-wrapper{position:relative;width:100%;height:0;background:transparent;}
  #menu-alt-wrapper .container{max-width:100% !important;padding:0;}
  .h-logo{display:none;}
  .menu-alt{float:none !important;}
  .nav-collapse.opened{max-height:9999px;}
  .nav-toggle{
    position:absolute;
    top:0px;
/*    left:50%;*/
/*    margin-left:-89px;*/
    width:100%;
    height:45px;
    padding-left: 12px;
/*    text-indent:-9999px;*/
    overflow:hidden;
    display:block;
    background:url(../img/mobile-nav-icon.png) #000 no-repeat right 12px center;
  }
  .js .nav-collapse{max-height:0;position:absolute;display:block;overflow:hidden;}
  #nav li.sectionLink{width:100%;}
  #nav li.sectionLink a span{font-size:16px;}
  #menu-alt-wrapper #nav li{float:none;width:100%;background-color:#020402;border-bottom:1px solid #1f1f1f;padding-left:25px;padding-bottom:20px;}
  #menu-alt-wrapper.menu-white #nav li a{color:#FFF;}
  
  .work-list ul li{width:100%;}
  #client-list{margin-left:50px;}
  .blg-content-box{width:100% !important;height:auto !important;}
  .nivo-caption{top:0 !important;right:0 !important;width:100%;height:auto !important;}
  .date-box{position:absolute;top:0;right:0;}
  .nivo-controlNav{top:-10px;right:65px;}
  .sect-titles{font-size:40px;}
  .qtext{font-size:35px;}
  .submit-wrapper{float:none !important;}
  .logo{margin-top:50px;}
  .scroll-down{display:none;}
}

/* Tablet Portrait size to Tablet Landscape (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #team-list li{width:290px;height:420px;}
  .team-box{height:350px;}
  .contact-form-area input{width:280px !important;}
  .contact-form-area textarea{width:290px !important;}
  .inptname{background:url(../img/cname-icon.png) no-repeat 255px center;}
  .inptcom{background:url(../img/ccom-icon.png) no-repeat 255px center;}
  .inptmail{background:url(../img/cmail-icon.png) no-repeat 255px center;}
  .submit-button{margin-right:0;}
  #client-list{padding:0 10px;margin-top:30px !important;}
  .nivoSlider{height:260px;}
  .social-icons li{margin-bottom:20px;}
  .comment-pic{float:none;margin-left:90px;}
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
  .nav-toggle {
    background:url(../img/mobile-nav-icon.png) #000 no-repeat right 12px center;
  }
  .intro_text{
    padding-top: 30%;
  }
  #cboxPrevious{background:url(../img/prjct-prev@2x.png) no-repeat;background-size:17px 28px;}
  #cboxNext{background:url(../img/prjct-next@2x.png) no-repeat;background-size:17px 28px;}
  #cboxClose{background:url(../img/prjct-close@2x.png) no-repeat;background-size:65px 65px;}
  .inptname{background:url(../img/cname-icon@2x.png) no-repeat 255px center;background-size:11px 12px;}
  .inptcom{background:url(../img/ccom-icon@2x.png) no-repeat 255px center;background-size:14px 11px;}
  .inptmail{background:url(../img/cmail-icon@2x.png) no-repeat 255px center;background-size:12px 10px;}
  #slider .flex-control-paging li a {background:url(../img/flex-control@2x.png) 0 31px;background-size:11px 21px;}
  #slider .flex-control-paging li a.flex-active {background:url(../img/flex-control@2x.png) 0 0;background-size:11px 21px;}
}




