<li>
	<a class="iframe portfolio-group" href="project-slide.html" title="">
    <%= image_tag project.project_thumbnail, class: "img-responsive"%>
		<div class="mask">
			<h2 class="font-Oswald"><%= project.title %></h2>
			<div class="margint20"><i class="icon-camera"></i></div>
		</div>
	</a>
</li>