<div id="contact">
  <% if is_mobile? %>
    <div class="close_button">
      <%= link_to home_path do %>
        <img src="/img/prjct-close.png"/>
      <% end %>
    </div>
  <% end %>
	<h1 class="sect-titles font-Oswald padt20">CONTACT</h1>
	<div class="container padb60">
		<div class="row margint50 contact-area">
			<div class="col-lg-12 col-sm-12 contact-form-area">
				<h3 class="font-Oswald">Let's Talk</h3>
				<form class="margint20" action="#" method="post">
					<div class="row">
						<div class="col-lg-6">
							<input class="inptname" type="text" name="name" placeholder="YOUR NAME" />
						</div>
						<div class="col-lg-6">
							<input class="inptmail" type="text" name="name" placeholder="E-MAIL ADDRESS" />
						</div>
					</div>
					<div class="row margint20">
						<div class="col-lg-6">
							<input class="inptcom" type="text" name="name" placeholder="SUBJECT" />
						</div>
						<div class="col-lg-6">
							<input class="inptcom" type="text" name="name" placeholder="CATEGORY" />
						</div>
					</div>
					<div class="row margint20">
						<div class="col-lg-12">
							<textarea></textarea>
						</div>
					</div>
					<div class="pull-right submit-wrapper">
						<input class="submit-button margint20" type="submit" value="SEND NOW" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>