<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="loading-area">
	<div class="block">
	  <div class="initial">
	    <span>M</span><span>i</span><span>n</span><span>i</span><span>v</span><span>e</span><span>r</span><span>t</span><span>i</span><span>s</span><span>i</span><span>n</span><span>g</span>
	  </div>
	</div>
</div>
<div id="wrapper">
	<!-- NAVIGATION -->
	<div id="menu-alt-wrapper">
		<div class="container">
			<div class="pull-left h-logo">
				<a class="smooth" href="#home"><img src="img/h-logo.png" alt="Scrolle" /></a>
			</div>
			<div class="pull-right menu-alt">
				<div id="menu2">
					<ul id="nav" class="nav-collapse">
						<li class="current"><a href="#home">HOME</a></li>
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#portfolio">PORTFOLIO</a></li>
						<li><a href="#services">SERVICES</a></li>
						<li><a href="#team">THE TEAM</a></li>
						<li><a href="#blog">BLOG</a></li>
						<li><a href="#features">FEATURES</a></li>
						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- HOME -->
	<div id="home" class="intro">
		<div class="pos-center">
			<div class="logo">
				<img src="img/logo.jpg" class="img-resposive" alt="logo" />
			</div>
			<div id="slider" class="margint50 font-Oswald flexslider">
				<ul class="slides">
					<li>THE FUNCTION OF DESIGN IS LETTING <span class="color-text">DESIGN</span> FUNCTION</li>
					<li>ART DOES NOT <span class="color-text">REPRODUCE</span> WHAT WE SEE RATHER</li>
					<li>ONCE YOU ELIMINATE QUALITY AS A <span class="color-text">PROCESS</span></li>
				</ul>
			</div>
			<div class="scroll-down"><a href="#about" class="smooth"><i class="icon-chevron-sign-down"></i></a></div>
		</div>
	</div>
	<!-- ABOUT -->
	<div id="about">
		<h1 class="sect-titles font-Oswald padt60">ABOUT</h1>
		<div class="divide margint40">x</div>
		<div class="container margint40">
			<div class="about-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci odio ex nemo quam sint dolore quasi quod fuga magni accusamus tempore. Eligendi inventore laudantium totam fuga accusantium accusamus ab fugiat molestiae impedit reiciendis nemo voluptatum minus iusto tenetur culpa asperiores nobis corrupti assumenda aspernatur similique commodi distinctio ad veniam vero temporibus molestias ratione nisi voluptates ipsa ex eum suscipit alias dolorum repellat nesciunt consequuntur quos rem neque a excepturi aliquid voluptatem. Blanditiis ipsam laboriosam ex architecto eveniet temporibus veniam assumenda deserunt quam reiciendis tenetur voluptas facilis sapiente esse est nulla ut numquam labore aliquam expedita deleniti! Natus praesentium ipsam qui saepe blanditiis amet iure nulla officiis incidunt officia optio exercitationem esse recusandae sapiente quasi explicabo quidem minima perspiciatis dolor impedit! Praesentium qui ipsam excepturi aperiam ut repellendus dolore ipsum recusandae quasi ullam quisquam tempora at dolorum! Ex rem explicabo et consequatur perferendis sapiente repudiandae dicta quibusdam tempore odit excepturi mollitia voluptas. Libero eligendi provident fuga consequatur et corporis nemo esse dignissimos aliquam eaque sunt blanditiis architecto quas consectetur non totam vel optio nisi tempora quaerat ad vitae labore neque accusamus amet doloremque quis? A consequuntur vero qui accusamus eaque deserunt corrupti asperiores explicabo iste facilis unde quia repudiandae est.</p>
				<p class="read-more"><a href="#" class="rm-button">READ MORE <i class="icon-angle-down"></i></a></p>
			</div>
		</div>
		<div class="container margint60">
			<div class="row">
				<div class="col-lg-3 col-sm-6 col3-box">
					<div class="about-box">
						<div class="about-icon">
							<i class="icon-star-empty"></i>
						</div>
						<h3 class="margint20">PARALLAX EFFECTS</h3>
						<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet officia dolore ipsum laborum necessitatibus similique.</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col3-box">
					<div class="about-box">
						<div class="about-icon">
							<i class="icon-envelope-alt"></i>
						</div>
						<h3 class="margint20">RETINA READY</h3>
						<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet officia dolore ipsum laborum necessitatibus similique.</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col3-box">
					<div class="about-box">
						<div class="about-icon">
							<i class="icon-heart-empty"></i>
						</div>
						<h3 class="margint20">EASY CUSTOMIZE</h3>
						<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet officia dolore ipsum laborum necessitatibus similique.</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col3-box">
					<div class="about-box">
						<div class="about-icon">
							<i class="icon-flag-alt"></i>
						</div>
						<h3 class="margint20">WELL DOCUMENTED</h3>
						<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet officia dolore ipsum laborum necessitatibus similique.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="skills-box margint70">
			<h1 class="sect-mini-titles margint60">WE ARE REPRESENT SCROLLE WITH FROM YOU</h1>
			<div class="divide margint10">x</div>
			<p class="info margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ea ab neque perferendis unde odio sint tenetur iure autem iste blanditiis dolorum error laborum quas repudiandae optio qui voluptatibus excepturi.</p>
			<div class="container margint60">
				<div class="row marginb40">
					<div class="col-lg-8 col-sm-6 bar-box">
						<p>DESIGN</p>
						<div class="progress margint5">
							<div class="progress-bar" style="width:55%;"></div>
						</div>
						<p>PHOTOSHOP</p>
						<div class="progress margint5">
							<div class="progress-bar" style="width:75%;"></div>
						</div>
						<p>PHOTOGRAPHY</p>
						<div class="progress margint5">
							<div class="progress-bar" style="width:63%;"></div>
						</div>
						<p>ANIMATION</p>
						<div class="progress margint5">
							<div class="progress-bar" style="width:47%;"></div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<div class="about-tabs">
							<div id="accordion">
								<div class="panel panel-scrolle">
									<div class="panel-style1 cllpse-active">
										<div class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="icon-angle-down"></i> SOME GREAT EXAMPLE</a></div>
									</div>
									<div id="collapse1" class="collapse collapse-scrolle in">
										<div class="pad5">    	
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugiat omnis iusto saepe illum repellendus illo id rerum accusamus officiis iste cupiditate non itaque ex et.
										</div>
									</div>
								</div>
								<div class="panel panel-scrolle">
									<div class="panel-style1">
										<div class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="icon-angle-down"></i> SOME GREAT EXAMPLE</a></div>
									</div>
									<div id="collapse2" class="collapse collapse-scrolle">
										<div class="pad5">    	
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugiat omnis iusto saepe illum repellendus illo id rerum accusamus officiis iste cupiditate non itaque ex et.
										</div>
									</div>
								</div>
								<div class="panel panel-scrolle">
									<div class="panel-style1">
										<div class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="icon-angle-down"></i> SOME GREAT EXAMPLE</a></div>
									</div>
									<div id="collapse3" class="collapse collapse-scrolle">
										<div class="pad5">    	
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugiat omnis iusto saepe illum repellendus illo id rerum accusamus officiis iste cupiditate non itaque ex et.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about-parallax font-Oswald">
			<p class="qtext">BE FRIENDLY TO THOSE WHO ENJOY YOUR WORK AND FRIENDLIER TO THOSE WHO ATTACK IT.</p>
			<p class="qname color-text">DAVID LEGGETT</p>
		</div>
	</div>
	<!-- PORTFOLIO -->
	<div id="portfolio" class="alt-portfolio">
		<h1 class="sect-titles font-Oswald padt60">PORTFOLIO</h1>
		<div class="divide margint40">x</div>
		<p class="info margint30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ratione harum commodi eum aperiam accusantium quaerat eius iure ut cupiditate esse atque molestias mollitia sit vero animi ipsa quo odio?</p>
		<div class="work-list margint60 padb60">
			<ul class="clearfix">
        <%= render partial: "project", collection: @projects %>
			</ul>
		</div>
	</div>
	<!-- SERVICES -->
	<div id="services">
		<h1 class="sect-titles font-Oswald padt60 color-white">SERVICES</h1>
		<div class="divide margint40 color-white">x</div>
		<p class="info margint30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ratione harum commodi eum aperiam accusantium quaerat eius iure ut cupiditate esse atque molestias mollitia sit vero animi ipsa quo odio?</p>
		<ul class="services-list">
			<li>
				<div class="ibox">
					<i class="icon-cny"></i>
				</div>
				<div class="service-hover-box">
					<ul>
						<li><i class="icon-angle-right"></i> Free Support & Updates</li>
						<li><i class="icon-angle-right"></i> Fully Responsive</li>
						<li><i class="icon-angle-right"></i> Unlimited Colors</li>
						<li><i class="icon-angle-right"></i> Google Fonts</li>
						<li><i class="icon-angle-right"></i> Loaded With Options</li>
					</ul>
				</div>
				<div class="service-list-name">MARKETING</div>
			</li>
			<li>
				<div class="ibox">
					<i class="icon-star-empty"></i>
				</div>
				<div class="service-hover-box">
					<ul>
						<li><i class="icon-angle-right"></i> Free Support & Updates</li>
						<li><i class="icon-angle-right"></i> Fully Responsive</li>
						<li><i class="icon-angle-right"></i> Unlimited Colors</li>
						<li><i class="icon-angle-right"></i> Google Fonts</li>
						<li><i class="icon-angle-right"></i> Loaded With Options</li>
					</ul>
				</div>
				<div class="service-list-name">FORREST</div>
			</li>
			<li>
				<div class="ibox">
					<i class="icon-power-off"></i>
				</div>
				<div class="service-hover-box">
					<ul>
						<li><i class="icon-angle-right"></i> Free Support & Updates</li>
						<li><i class="icon-angle-right"></i> Fully Responsive</li>
						<li><i class="icon-angle-right"></i> Unlimited Colors</li>
						<li><i class="icon-angle-right"></i> Google Fonts</li>
						<li><i class="icon-angle-right"></i> Loaded With Options</li>
					</ul>
				</div>
				<div class="service-list-name">CODING</div>
			</li>
			<li>
				<div class="ibox">
					<i class="icon-suitcase"></i>
				</div>
				<div class="service-hover-box">
					<ul>
						<li><i class="icon-angle-right"></i> Free Support & Updates</li>
						<li><i class="icon-angle-right"></i> Fully Responsive</li>
						<li><i class="icon-angle-right"></i> Unlimited Colors</li>
						<li><i class="icon-angle-right"></i> Google Fonts</li>
						<li><i class="icon-angle-right"></i> Loaded With Options</li>
					</ul>
				</div>
				<div class="service-list-name">FOREVER</div>
			</li>
			<li>
				<div class="ibox">
					<i class="icon-trophy"></i>
				</div>
				<div class="service-hover-box">
					<ul>
						<li><i class="icon-angle-right"></i> Free Support & Updates</li>
						<li><i class="icon-angle-right"></i> Fully Responsive</li>
						<li><i class="icon-angle-right"></i> Unlimited Colors</li>
						<li><i class="icon-angle-right"></i> Google Fonts</li>
						<li><i class="icon-angle-right"></i> Loaded With Options</li>
					</ul>
				</div>
				<div class="service-list-name">ONE MILLION</div>
			</li>
			<li>
				<div class="ibox">
					<i class="icon-heart-empty"></i>
				</div>
				<div class="service-hover-box">
					<ul>
						<li><i class="icon-angle-right"></i> Free Support & Updates</li>
						<li><i class="icon-angle-right"></i> Fully Responsive</li>
						<li><i class="icon-angle-right"></i> Unlimited Colors</li>
						<li><i class="icon-angle-right"></i> Google Fonts</li>
						<li><i class="icon-angle-right"></i> Loaded With Options</li>
					</ul>
				</div>
				<div class="service-list-name">SELF NOTE</div>
			</li>
		</ul>
		<div class="container margint70">
			<div class="row marginb60 service-number-box">
				<div class="col-lg-3 col-sm-6">
					<div class="snumber">01</div>
					<h3 class="font-Oswald margint20">SERVICES STYLE 1</h3>
					<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid velit deleniti perspiciatis minus ea animi adipisci error sapiente placeat eaque libero itaque!</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="snumber">02</div>
					<h3 class="font-Oswald margint20">SERVICES STYLE 2</h3>
					<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid velit deleniti perspiciatis minus ea animi adipisci error sapiente placeat eaque libero itaque!</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="snumber">03</div>
					<h3 class="font-Oswald margint20">SERVICES STYLE 3</h3>
					<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid velit deleniti perspiciatis minus ea animi adipisci error sapiente placeat eaque libero itaque!</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="snumber">04</div>
					<h3 class="font-Oswald margint20">SERVICES STYLE 4</h3>
					<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid velit deleniti perspiciatis minus ea animi adipisci error sapiente placeat eaque libero itaque!</p>
				</div>
			</div>
		</div>
	</div>
	<!-- TEAM -->
	<div id="team">
		<h1 class="sect-titles font-Oswald padt60">TEAM</h1>
		<div class="divide margint40">x</div>
		<p class="info margint30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ratione harum commodi eum aperiam accusantium quaerat eius iure ut cupiditate esse atque molestias mollitia sit vero animi ipsa quo odio?</p>
		<ul id="team-list" class="margint30 marginb60">
			<li>
				<div class="team-box pos-center">
					<img src="temp/t1.jpg" class="img-responsive" alt="" />
					<h2 class="margint20 font-Oswald">JOHN DOE</h2>
					<hr class="underline margint10" />
					<h5>CEO</h5>
					<div class="team-member-details">
						<div class="team-member-links">
							<a href="#"><i class="icon-facebook"></i></a>
							<a href="#"><i class="icon-twitter"></i></a>
							<a href="#"><i class="icon-linkedin"></i></a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="team-box pos-center">
					<img src="temp/t2.jpg" class="img-responsive" alt="" />
					<h2 class="margint20 font-Oswald">MIKE DOE</h2>
					<hr class="underline margint10" />
					<h5>CFO</h5>
					<div class="team-member-details">
						<div class="team-member-links">
							<a href="#"><i class="icon-facebook"></i></a>
							<a href="#"><i class="icon-twitter"></i></a>
							<a href="#"><i class="icon-linkedin"></i></a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="team-box pos-center">
					<img src="temp/t3.jpg" class="img-responsive" alt="" />
					<h2 class="margint20 font-Oswald">JANE DOE</h2>
					<hr class="underline margint10" />
					<h5>CREATIVE DIRECTOR</h5>
					<div class="team-member-details">
						<div class="team-member-links">
							<a href="#"><i class="icon-facebook"></i></a>
							<a href="#"><i class="icon-twitter"></i></a>
							<a href="#"><i class="icon-linkedin"></i></a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="team-box pos-center">
					<img src="temp/t4.jpg" class="img-responsive" alt="" />
					<h2 class="margint20 font-Oswald">KARL HEBE</h2>
					<hr class="underline margint10" />
					<h5>MARKETING MANAGER</h5>
					<div class="team-member-details">
						<div class="team-member-links">
							<a href="#"><i class="icon-facebook"></i></a>
							<a href="#"><i class="icon-twitter"></i></a>
							<a href="#"><i class="icon-linkedin"></i></a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="team-box pos-center">
					<img src="temp/t1.jpg" class="img-responsive" alt="" />
					<h2 class="margint20 font-Oswald">JOHN DOE</h2>
					<hr class="underline margint10" />
					<h5>CEO</h5>
					<div class="team-member-details">
						<div class="team-member-links">
							<a href="#"><i class="icon-facebook"></i></a>
							<a href="#"><i class="icon-twitter"></i></a>
							<a href="#"><i class="icon-linkedin"></i></a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="team-box pos-center">
					<img src="temp/t2.jpg" class="img-responsive" alt="" />
					<h2 class="margint20 font-Oswald">MIKE DOE</h2>
					<hr class="underline margint10" />
					<h5>CFO</h5>
					<div class="team-member-details">
						<div class="team-member-links">
							<a href="#"><i class="icon-facebook"></i></a>
							<a href="#"><i class="icon-twitter"></i></a>
							<a href="#"><i class="icon-linkedin"></i></a>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="container nav-wrap">
			<div id="nav-car">
				<a id="prev" href="#"><i class="icon-chevron-left"></i></a>
				<a id="next" href="#"><i class="icon-chevron-right"></i></a>
			</div>
		</div>
		<div class="clients-parallax">
			<h1 class="font-Oswald">CLIENTS</h1>
			<ul id="client-list" class="margint60 clearfix">
				<li><img src="temp/clients1.png" alt="" /></li>
				<li><img src="temp/clients2.png" alt="" /></li>
				<li><img src="temp/clients3.png" alt="" /></li>
				<li><img src="temp/clients4.png" alt="" /></li>
				<li><img src="temp/clients5.png" alt="" /></li>
				<li><img src="temp/clients6.png" alt="" /></li>
			</ul>
		</div>
	</div>
	<!-- BLOG -->
	<div id="blog">
		<h1 class="sect-titles font-Oswald padt60">BLOG</h1>
		<div class="divide margint40">x</div>
		<p class="info margint30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ratione harum commodi eum aperiam accusantium quaerat eius iure ut cupiditate esse atque molestias mollitia sit vero animi ipsa quo odio?</p>
		<div class="container margint60 padb60">
			<div class="blog-posts">
				<div class="slider-wrapper theme-default">
		            <div id="slider-blog" class="nivoSlider">
		                <img src="temp/blg1.jpg" alt="" title="#htmlcaption1" />
		                <img src="temp/blg2.jpg" alt="" title="#htmlcaption2" />
		                <img src="temp/blg3.jpg" alt="" title="#htmlcaption3" />
		                <img src="temp/blg4.jpg" alt="" title="#htmlcaption4" />
		            </div>
		            <div id="htmlcaption1" class="nivo-html-caption">
		                <div class="blog-box clearfix">
		                	<div class="pull-left date-box">
		                		28 OCT
		                	</div>
		                	<div class="pull-left blg-content-box">
		                		<div class="pad30">
		                			<h2 class="font-Oswald"><a href="blog-post.html">LOREM IPSUM DOLOR</a></h2>
		                			<p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque illum at ex sed optio vero cumque pariatur dolorum velit soluta iste consequuntur consectetur earum quis aperiam distinctio quasi. İd consequuntur.</p>
		                			<div class="all-post-link pull-right"><a href="blog.html">ALL BLOG POSTS <i class="icon-external-link"></i></a></div>
		                		</div>
		                	</div>
		                </div>
		            </div>
		            <div id="htmlcaption2" class="nivo-html-caption">
		                <div class="blog-box clearfix">
		                	<div class="pull-left date-box">
		                		16 OCT
		                	</div>
		                	<div class="pull-left blg-content-box">
		                		<div class="pad30">
		                			<h2 class="font-Oswald"><a href="blog-post.html">CONSECTETUR ADIPISICING ELIT</a></h2>
		                			<p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque illum at ex sed optio vero cumque pariatur dolorum velit soluta iste consequuntur consectetur earum quis aperiam distinctio quasi. İd consequuntur.</p>
		                			<div class="all-post-link pull-right"><a href="blog.html">ALL BLOG POSTS <i class="icon-external-link"></i></a></div>
		                		</div>
		                	</div>
		                </div>
		            </div>
		            <div id="htmlcaption3" class="nivo-html-caption">
		                <div class="blog-box clearfix">
		                	<div class="pull-left date-box">
		                		17 SEP
		                	</div>
		                	<div class="pull-left blg-content-box">
		                		<div class="pad30">
		                			<h2 class="font-Oswald"><a href="blog-post.html">CUMQUE PARIATUR</a></h2>
		                			<p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque illum at ex sed optio vero cumque pariatur dolorum velit soluta iste consequuntur consectetur earum quis aperiam distinctio quasi. İd consequuntur.</p>
		                			<div class="all-post-link pull-right"><a href="blog.html">ALL BLOG POSTS <i class="icon-external-link"></i></a></div>
		                		</div>
		                	</div>
		                </div>
		            </div>
		            <div id="htmlcaption4" class="nivo-html-caption">
		                <div class="blog-box clearfix">
		                	<div class="pull-left date-box">
		                		03 SEP
		                	</div>
		                	<div class="pull-left blg-content-box">
		                		<div class="pad30">
		                			<h2 class="font-Oswald"><a href="blog-post.html">OPTIO VERO</a></h2>
		                			<p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque illum at ex sed optio vero cumque pariatur dolorum velit soluta iste consequuntur consectetur earum quis aperiam distinctio quasi. İd consequuntur.</p>
		                			<div class="all-post-link pull-right"><a href="blog.html">ALL BLOG POSTS <i class="icon-external-link"></i></a></div>
		                		</div>
		                	</div>
		                </div>
		            </div>
        		</div>
			</div>
		</div>
	</div>
	<!-- FEATURES -->
	<div id="features">
		<h1 class="sect-titles font-Oswald padt60">FEATURES</h1>
		<div class="divide margint40">x</div>
		<div class="container features-tab">
			<div class="tab-content">
				<div class="tab-pane tab-info fade in active" id="tab1">
					<h3 class="font-Oswald margint30">A responsive, wide awesome Scrolle template</h3>
					<p class="margint30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae voluptatem doloribus odio ipsum error natus necessitatibus enim sunt. Consectetur debitis tempora hic quam rerum cum maxime earum a! Vitae maiores fugit eligendi beatae hic dolore quae adipisci at dolorum suscipit.</p>
					<img class="img-responsive margint40 feat-img" src="temp/feat.png" alt="" />
					<div class="row pos-left margint50">
						<div class="col-lg-4 col-sm-4 feat-box resetter">
							<div class="col-lg-2 col-sm-2">
								<i class="icon-camera"></i>
							</div>
							<div class="col-lg-10 col-sm-10">
								<h4 class="font-Oswald">CREATIVE PORTFOLIO</h4>
								<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt laboriosam hic cumque ab et recusandae cum blanditiis dolor expedita eos.</p>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4 feat-box resetter">
							<div class="col-lg-2 col-sm-2">
								<i class="icon-plane"></i>
							</div>
							<div class="col-lg-10 col-sm-10">
								<h4 class="font-Oswald">EASY CUSTOMIZE</h4>
								<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt laboriosam hic cumque ab et recusandae cum blanditiis dolor expedita eos.</p>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4 feat-box resetter">
							<div class="col-lg-2 col-sm-2">
								<i class="icon-gift"></i>
							</div>
							<div class="col-lg-10 col-sm-10">
								<h4 class="font-Oswald">RESPONSIVE DESIGN</h4>
								<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt laboriosam hic cumque ab et recusandae cum blanditiis dolor expedita eos.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tab2">
					<div class="row margint50">
						<div class="col-lg-4 col-sm-4">
							<div class="price-box">
								<div class="price-title">
									<h2 class="font-Oswald">STANDART PLAN</h2>
									<p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odit dignissimos nam vero at?</p>
									<div class="price font-Oswald">
										<a href="#">45 USD/Month</a>
									</div>
								</div>
								<div class="pro-desc padt50 clearfix" >
									<ul class="price-box-list marginb40">
										<li>500 MBs of Disk Space</li>
										<li>Lorem ipsum dolor</li>
										<li>Lorem ipsum</li>
										<li>Lorem ipsum dolor sit</li>
										<li>Lorem ipsum</li>
										<li>Lorem ipsum dolor</li>
										<li>Lorem ipsum</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<div class="price-box">
								<div class="price-title">
									<h2 class="font-Oswald">BUSINESS PLAN</h2>
									<p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odit dignissimos nam vero at?</p>
									<div class="price font-Oswald">
										<a href="#">85 USD/Month</a>
									</div>
								</div>
								<div class="pro-desc padt50 clearfix" >
									<ul class="price-box-list marginb40">
										<li>1500 MBs of Disk Space</li>
										<li>Lorem ipsum dolor</li>
										<li>Lorem ipsum</li>
										<li>Lorem ipsum dolor sit</li>
										<li>Lorem ipsum</li>
										<li>Lorem ipsum dolor</li>
										<li>Lorem ipsum</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<div class="price-box">
								<div class="price-title">
									<h2 class="font-Oswald">PRO PLAN</h2>
									<p class="margint20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odit dignissimos nam vero at?</p>
									<div class="price font-Oswald">
										<a href="#">110 USD/Month</a>
									</div>
								</div>
								<div class="pro-desc padt50 clearfix" >
									<ul class="price-box-list marginb40">
										<li>2500 MBs of Disk Space</li>
										<li>Lorem ipsum dolor</li>
										<li>Lorem ipsum</li>
										<li>Lorem ipsum dolor sit</li>
										<li>Lorem ipsum</li>
										<li>Lorem ipsum dolor</li>
										<li>Lorem ipsum</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="tab3">
					<div class="row margint20">
						<div class="col-lg-8 col-sm-6">
							<img class="img-responsive" src="temp/tempss.png" alt="" />
						</div>
						<div class="col-lg-4 col-sm-6">
							<ul class="mob-feat margint40">
								<li>
									<h3 class="font-Oswald">DETAILS OF FEATURES</h3>
									<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt veritatis voluptatibus molestias quam magni excepturi ex nemo iure aliquid repellat tempora dolorum porro. Ab laborum sint corrupti neque hic!</p>
								</li>
								<li>
									<h3 class="font-Oswald">SOMEONE LIKE YOU</h3>
									<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt veritatis voluptatibus molestias quam magni excepturi ex nemo iure aliquid repellat tempora dolorum porro. Ab laborum sint corrupti neque hic!</p>
								</li>
								<li>
									<h3 class="font-Oswald">EXTRA FEATURES</h3>
									<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt veritatis voluptatibus molestias quam magni excepturi ex nemo iure aliquid repellat tempora dolorum porro. Ab laborum sint corrupti neque hic!</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row tabbed-area tab-style1 margint30">
				<div class="col-lg-4 col-sm-4 tab-button font-Oswald active"><div class="tab-but"><a href="#tab1">DETAILS OF FEATURES</a></div></div>
				<div class="col-lg-4 col-sm-4 tab-button font-Oswald"><div class="tab-but"><a href="#tab2">PRICING TABLE</a></div></div>
				<div class="col-lg-4 col-sm-4 tab-button font-Oswald"><div class="tab-but"><a href="#tab3">MOBILE FEATURES</a></div></div>
			</div>
		</div>
		<div class="comment-parallax">
			<div class="container cust-comment-box">
				<ul id="comment-list">
					<li>
						<div class="padcarousel pos-center">
							<h2 class="font-Oswald">Design is content with intent. Content without intent is noise. Intent without content is decoration.</h2>
							<div class="comm-name margint50">
								<div class="pull-left comment-pic"><img src="temp/team2.jpg" class="img-circle" alt="" width="75" height="75" /></div>
								<div class="pull-left font-Oswald cust-name"><h2>JOE SPARANO - DESIGNER</h2></div>
							</div>
						</div>
					</li>
					<li>
						<div class="padcarousel pos-center">
							<h2 class="font-Oswald">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum vehicula sapien, ut vehicula ante faucibus aliquet. In in lacus sed magna molliunc. Nullam posuere congue nibh.</h2>
							<div class="comm-name margint50">
								<div class="pull-left comment-pic"><img src="temp/team1.jpg" class="img-circle" alt="" width="75" height="75" /></div>
								<div class="pull-left font-Oswald cust-name"><h2>JANE DOE - ACCOUNT MANAGER</h2></div>
							</div>
						</div>
					</li>
					<li>
						<div class="padcarousel pos-center">
							<h2 class="font-Oswald">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum vehicula sapien, ut vehicula ante faucibus aliquet. In in lacus sed magna molliunc. Nullam posuere congue nibh.</h2>
							<div class="comm-name margint50">
								<div class="pull-left comment-pic"><img src="temp/team1.jpg" class="img-circle" alt="" width="75" height="75" /></div>
								<div class="pull-left font-Oswald cust-name"><h2>JACK DOE - ACCOUNT MANAGER</h2></div>
							</div>
						</div>
					</li>
				</ul>
				<div class="clearfix carousel-buttons">
					<a id="cprev"><i class="icon-angle-left"></i></a>
					<a id="cnext"><i class="icon-angle-right"></i></a>
				</div>
				<div class="cmmnt-crsl-bull" id="bullets"></div>
			</div>
		</div>
	</div>
	<!-- CONTACT -->
	<div id="contact">
		<h1 class="sect-titles font-Oswald padt60">CONTACT</h1>
		<div class="divide margint40">x</div>
		<p class="info margint30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ratione harum commodi eum aperiam accusantium quaerat eius iure ut cupiditate esse atque molestias mollitia sit vero animi ipsa quo odio?</p>
		<ul class="social-icons margint50">
			<li><a href="#"><i class="icon-facebook"></i></a></li>
			<li><a href="#"><i class="icon-twitter"></i></a></li>
			<li><a href="#"><i class="icon-google-plus"></i></a></li>
			<li><a href="#"><i class="icon-skype"></i></a></li>
			<li><a href="#"><i class="icon-flickr"></i></a></li>
			<li><a href="#"><i class="icon-pinterest"></i></a></li>
			<li><a href="#"><i class="icon-foursquare"></i></a></li>
			<li><a href="#"><i class="icon-youtube"></i></a></li>
		</ul>
		<div class="container padb60">
			<div class="row margint50 contact-area">
				<div class="col-lg-4 col-sm-6">
					<div class="tab-style-3">
						<ul class="tabbed-contact contact-tab clearfix">
							<li class="active font-Oswald"><a href="#tab1s">MAPS</a></li>
							<li class="font-Oswald"><a href="#tab2s">TWITTER</a></li>
						</ul>
						<div class="tab-content tab-style2 margint30">
							<div class="tab-pane fade in active" id="tab1s">
								<div id="map"></div>
							</div>
							<div class="tab-pane fade" id="tab2s">
								<div class="twitterfeed"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-sm-6 contact-form-area">
					<h3 class="font-Oswald">CONTACT WITH US</h3>
					<form class="margint20" action="#" method="post">
						<div class="row">
							<div class="col-lg-6">
								<input class="inptname" type="text" name="name" placeholder="YOUR NAME" />
							</div>
							<div class="col-lg-6">
								<input class="inptmail" type="text" name="name" placeholder="E-MAIL ADDRESS" />
							</div>
						</div>
						<div class="row margint20">
							<div class="col-lg-6">
								<input class="inptcom" type="text" name="name" placeholder="SUBJECT" />
							</div>
							<div class="col-lg-6">
								<input class="inptcom" type="text" name="name" placeholder="CATEGORY" />
							</div>
						</div>
						<div class="row margint20">
							<div class="col-lg-12">
								<textarea></textarea>
							</div>
						</div>
						<div class="pull-right submit-wrapper">
							<input class="submit-button margint20" type="submit" value="SEND NOW" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- FOOTER -->
	<div id="footer">
		<div class="container">
			<img class="margint40" src="img/footer_logo.png" alt="" />
			<h5 class="margint10">Scrolle Responsive Parallax One Page Template</h5>
			<h5 class="margint10">2035 Themes | Copyright © 2013</h5>
		</div>
	</div>
</div>

<!-- JS FILES -->
<script src="/js/vendor/jquery-1.10.1.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/jquery.queryloader2.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/jquery.scrollTo.js"></script>
<script src="/js/jquery.nav.js"></script>
<script src="/js/responsive-nav.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/jquery.colorbox-min.js"></script>
<script src="/js/jquery.parallax-1.1.3.js"></script>
<script src="/js/jquery.carouFredSel.js"></script>
<script src="/js/jquery.nivo.slider.pack.js"></script>
<script src="/js/jquery.tweet.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/js/gmaps.js"></script>
<script src="/js/retina-1.1.0.min.js"></script>
<script src="/js/main.js"></script>
<!--
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
-->
