<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="wrapper">
	<!-- NAVIGATION -->
	<div id="menu-alt-wrapper">
		<div class="container">
			<div class="pull-left h-logo">
				<a class="smooth" href="#home"><img src="img/h-logo.png" alt="Scrolle" /></a>
			</div>
			<div class="pull-right menu-alt">
				<div id="menu2">
					<ul id="nav" class="nav-collapse">
						<li class="current"><a href="#home">HOME</a></li>
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#services">SERVICE</a></li>
						<li><a href="#portfolio">WORK</a></li>
						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</div>
    <div class="fb_like">
      <!-- <fb:like href="https://www.facebook.com/minivertising/" layout="button" action="like" share="false" show_faces="false" share="true" width="500px"></fb:like> -->
    </div>
	</div>
	<!-- HOME -->
	<div id="home" class="intro">
		<div class="pos-center">
			<div class="logo">
				
			</div>
			<div>
				MINI + ADVERTISING
			</div>
			<div id="slider" class="margint50 font-Oswald flexslider" style="display:none;">
				<ul class="slides">
					<li>안녕하세요<span class="color-text">반갑습니다</span> 컬러펑션</li>
					<li>이원섭<span class="colo r-text">노란칼라</span> WHAT WE SEE RATHER</li>
					<li>우하하하<span class="color-text">PROCESS</span></li>
				</ul>
			</div>
			<div class="scroll-down"><a href="#about" class="smooth"><i class="icon-chevron-sign-down"></i></a></div>
		</div>
	</div>
	<!-- ABOUT -->
	<div id="about">
		<h1 class="sect-titles font-Oswald padt60">ABOUT</h1>
		<div class="container margint60">
			<div class="row">
				<h3>WHY MINIVERTISING?</h3>
			</div>
		</div>

		<div class="about-parallax font-Oswald">
			<p class="qtext">MINI IS BIG. <br> MINI IS ORIGNAL.<br> MINI IS FUN.</p>
		</div>
	</div>
	<!-- SERVICES -->
	<div id="services">
		<h1 class="sect-titles font-Oswald padt80">SERVICES</h1>
		<p class="sub_title">디자인 제작과 PD프러덕션 서비스를 통합해 <br>커뮤니케이션 기획부터 최종 제작까지 토탈서비스를 제공합니다.</p>

		<div class="container margint70">
			<div class="row marginb60 service-number-box">
				<div class="col-lg-3 col-sm-6">
					
					<h3 class="font-Oswald margint20">ONLINE PROMOTION</h3>
					<ul>
						<li>프로모션기획/제작</li>
						<li>캠페인컨셉</li>
						<li>카피라이팅</li>
						<li>온라인 배너 제작</li>
					</ul>
					
				</div>
				<div class="col-lg-3 col-sm-6">
					
					<h3 class="font-Oswald margint20">VIRAL&TUTORIAL FILM</h3>
					<ul>
						<li>프로모션기획/제작</li>
						<li>캠페인컨셉</li>
						<li>카피라이팅</li>
						<li>온라인 배너 제작</li>
					</ul>
				</div>
				<div class="col-lg-3 col-sm-6">
					
					<h3 class="font-Oswald margint20">FACEBOOK CAMPAIGN</h3>
					<ul>
						<li>프로모션기획/제작</li>
						<li>캠페인컨셉</li>
						<li>카피라이팅</li>
						<li>온라인 배너 제작</li>
					</ul>
				</div>
				<div class="col-lg-3 col-sm-6">
					
					<h3 class="font-Oswald margint20">WEBSITE</h3>
					<ul>
						<li>프로모션기획/제작</li>
						<li>캠페인컨셉</li>
						<li>카피라이팅</li>
						<li>온라인 배너 제작</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="service-parallax font-Oswald">
			<div class="container margint70">
				<div class="row marginb60 service-number-box">
					<div class="col-lg-3 col-sm-6">
						TEAM
					</div>
					<div class="col-lg-3 col-sm-6">
						TEAM
					</div>
					<div class="col-lg-3 col-sm-6">
						TEAM
					</div>
					<div class="col-lg-3 col-sm-6">
						TEAM
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- PORTFOLIO -->
	<div id="portfolio" class="alt-portfolio">
		<h1 class="sect-titles font-Oswald padt60">WORK</h1>
		<p class="info margint30">-</p>
		<div class="work-list margint60 padb60">
			<ul class="clearfix">
        <%= render partial: "project", collection: @projects %>
			</ul>
		</div>
	</div>
	<!-- TEAM -->
  <!-- BLOG -->
	<!-- FEATURES -->
	<!-- CONTACT -->
	<div id="contact">
		<h1 class="sect-titles font-Oswald padt60">CONTACT</h1>

		<div class="container padb60">
			<div class="row margint50 contact-area">
				<div class="col-lg-4 col-sm-6">
					<div class="tab-style-3">
						<ul class="tabbed-contact contact-tab clearfix">
							<li class="active font-Oswald"><a href="#tab1s">MAPS</a></li>
						</ul>
						<div class="tab-content tab-style2 margint30">
							<div class="tab-pane fade in active" id="tab1s">
								<div id="map"></div>
							</div>
							<div class="tab-pane fade" id="tab2s">
								<div class="twitterfeed"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-sm-6 contact-form-area">
					<h3 class="font-Oswald">CONTACT WITH US</h3>
					<form class="margint20" action="#" method="post">
						<div class="row">
							<div class="col-lg-6">
								<input class="inptname" type="text" name="name" placeholder="YOUR NAME" />
							</div>
							<div class="col-lg-6">
								<input class="inptmail" type="text" name="name" placeholder="E-MAIL ADDRESS" />
							</div>
						</div>
						<div class="row margint20">
							<div class="col-lg-6">
								<input class="inptcom" type="text" name="name" placeholder="SUBJECT" />
							</div>
							<div class="col-lg-6">
								<input class="inptcom" type="text" name="name" placeholder="CATEGORY" />
							</div>
						</div>
						<div class="row margint20">
							<div class="col-lg-12">
								<textarea></textarea>
							</div>
						</div>
						<div class="pull-right submit-wrapper">
							<input class="submit-button margint20" type="submit" value="SEND NOW" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- FOOTER -->
	<div id="footer">
		<div class="container">
			<h5 class="margint10">MINI IS BIG. MINI IS ORIGINAL. MINI IS FUN.</h5>
			<h5 class="margint10">MINIVERTISING Copyright ©</h5>
		</div>
	</div>
</div>

<!-- JS FILES -->
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/jquery.queryloader2.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/jquery.scrollTo.js"></script>
<script src="/js/jquery.nav.js"></script>
<script src="/js/responsive-nav.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/jquery.colorbox-min.js"></script>
<script src="/js/jquery.parallax-1.1.3.js"></script>
<script src="/js/jquery.carouFredSel.js"></script>
<script src="/js/jquery.nivo.slider.pack.js"></script>
<script src="/js/jquery.tweet.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/js/gmaps.js"></script>
<script src="/js/retina-1.1.0.min.js"></script>
<script src="/js/main.js"></script>
<!--
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
-->
